<div class="container-fluid mt-2">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Projet List</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
        <input (keyup)="applyFilter($event)" matInput placeholder="Filter" #FilterInput>
      </mat-form-field>
      <!-- Angular Material table component-->
      <mat-table [dataSource]="dataSource" matSort>

        <!-- Define columns with column definitions using ng-container-->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> ID
          </mat-header-cell>
          <mat-cell *matCellDef="let projet"> {{ projet.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title"> Title
          </mat-header-cell>
          <mat-cell *matCellDef="let projet"> {{ projet.title }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description"> Description
          </mat-header-cell>
          <mat-cell *matCellDef="let projet"> {{ projet.description }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="field">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by field"> Field
          </mat-header-cell>
          <mat-cell *matCellDef="let projet"> {{ projet.field }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by start date"> Start Date
          </mat-header-cell>
          <mat-cell *matCellDef="let projet"> {{ projet.startDate | date }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by end date"> End Date
          </mat-header-cell>
          <mat-cell *matCellDef="let projet"> {{ projet.endDate | date }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let projet">

            <button mat-icon-button color="warn" (click)="onOpenProjetModal(projet,'dotation-list')">
              <mat-icon>list</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onOpenProjetModal(projet,'add-dotation')">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="onOpenProjetModal(projet, 'edit')">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteProjet(projet.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data matching the filter "{{FilterInput.value}}"</td>
        </tr>

        <!-- Set row header and keep placeholders for cells by adding *matRowDef and *matHeaderRowDef-->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of projects"></mat-paginator>

    </mat-card-content>

    <mat-card-footer>
      <mat-card-actions >
        <button mat-button  (click)="onOpenProjetModal(null,'add')"><mat-icon>add</mat-icon> Add a new project</button>
      </mat-card-actions>
    </mat-card-footer>

  </mat-card>
</div>
