.example-spacer {
  flex: 1 1 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

mat-drawer{
  margin: 16px;
  width: 60px;
  min-height: auto;
  border-right: none;
  background-color: #c5dcf5;
  color: #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;;
}



.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}


.content{
  height: calc(100% - 98px);
  margin: 16px;
  margin-left: 32px;
  border-radius: 10px;
  padding: 6px;
  background-color: #F2F2F2;
  color: #333;
}