<mat-card>
  <mat-card-header>
    <mat-card-title>New ExpressionBesoin</mat-card-title>
  </mat-card-header>

  <form #expressionBesoinForm="ngForm" (ngSubmit)="onAddExpressionBesoin(expressionBesoinForm)">
    <div mat-dialog-content class="content">

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput type="text" placeholder="Enter Description" [(ngModel)]="newExpressionBesoin.description"
            name="description" required>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>montant approximatif</mat-label>
            <input matInput type="number" placeholder="Enter Montant"
              [(ngModel)]="newExpressionBesoin.montant_approximatif" name="montant_approximatif" required>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="isDirector()">
          <mat-form-field appearance="outline">
            <mat-label>montant effectif</mat-label>
            <input matInput type="number" placeholder="Enter Montant" [(ngModel)]="newExpressionBesoin.montant_effectif"
              name="montant_effectif" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Demande Date</mat-label>
          <input matInput [matDatepicker]="picker1" placeholder="Choose Demand Date"
            [(ngModel)]="newExpressionBesoin.demandeDate" name="demandeDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="isDirector()">
        <mat-form-field appearance="outline">
          <mat-label>Validation Date</mat-label>
          <input matInput [matDatepicker]="picker2" placeholder="Choose Validation Date"
            [(ngModel)]="newExpressionBesoin.validatDate" name="validatDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Membre</mat-label>
            <mat-select [(ngModel)]="newExpressionBesoin.membre" name="membre" required>
              <ng-container *ngIf="!isDirector(); else membreOptions">
                <mat-option [value]="currentUser">{{ currentUser.name }}</mat-option>
              </ng-container>
              <ng-template #membreOptions>
                <mat-option *ngFor="let membre of membres" [value]="membre">{{ membre.name }}</mat-option>
              </ng-template>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Type Besoin</mat-label>
            <mat-select [(ngModel)]="newExpressionBesoin.typeBesoin" name="typeBesoin" required>
              <mat-option *ngFor="let typeBesoin of typeBesoins" [value]="typeBesoin">{{ typeBesoin.type }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="isDirector()">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Responsable</mat-label>
            <mat-select [(ngModel)]="newExpressionBesoin.responsable" name="responsable" required>
              <mat-option *ngFor="let responsable of responsables" [value]="responsable">{{ responsable.name
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Is Valid</mat-label>
            <mat-select [(ngModel)]="newExpressionBesoin.isValid" name="isValid" required>
              <mat-option value="true">Yes</mat-option>
              <mat-option value="false">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="expressionBesoinForm.invalid">Add</button>
      <button mat-raised-button color="" type="reset">Reset</button>
    </div>
  </form>
</mat-card>
