<mat-card>
  <mat-card-header>
    <mat-card-title>Edit Responsable {{editResponsable.type}}</mat-card-title>
  </mat-card-header>

  <form #responsableForm="ngForm" (ngSubmit)="onEditResponsable(responsableForm)">
    <div mat-dialog-content class="content">
      <input type="hidden" name="id" [(ngModel)]="editResponsable.id">

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput type="text" placeholder="Ex. John Doe" [(ngModel)]="editResponsable.name" name="nom"
              required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput type="tel" placeholder="Ex. 1234567890" [(ngModel)]="editResponsable.tel" name="tel"
              required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput type="text" placeholder="Ex. johndoe" [(ngModel)]="editResponsable.username" name="username"
              required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" [(ngModel)]="editResponsable.password" name="password" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Ex. john@example.com" [(ngModel)]="editResponsable.email"
            name="email" required>
        </mat-form-field>
      </div>

      <div class="row" *ngIf="selectedResponsableType === 'Marche'">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Market Segment</mat-label>
            <input matInput type="text" placeholder="Ex. Market Segment" [(ngModel)]="editResponsable.marketSegment"
              name="marketSegment" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Experience Years</mat-label>
            <input matInput type="number" placeholder="Ex. 5" [(ngModel)]="editResponsable.experienceYears"
              name="experienceYears" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="selectedResponsableType === 'Affaires_Financier'">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Department</mat-label>
            <input matInput type="text" placeholder="Ex. Department" [(ngModel)]="editResponsable.department"
              name="department" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Financial Qualification</mat-label>
            <input matInput type="text" placeholder="Ex. Financial Qualification"
              [(ngModel)]="editResponsable.financialQualification" name="financialQualification" required>
          </mat-form-field>
        </div>
      </div>
    </div>





    <div mat-dialog-actions class="action">
      <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="responsableForm.invalid">Edit</button>
      <button mat-raised-button color="" type="reset">Reset</button>
    </div>
  </form>
</mat-card>
