<div class="container-fluid mt-2">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Responsable List</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
        <input (keyup)="applyFilter($event)" matInput placeholder="Filter" #FilterInput>
      </mat-form-field>
      <!-- Angular Material table component-->
      <mat-table [dataSource]="dataSource" matSort>

        <!-- Define columns with column definitions using ng-container-->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> ID
          </mat-header-cell>
          <mat-cell *matCellDef="let responsable"> {{ responsable.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> name
          </mat-header-cell>
          <mat-cell *matCellDef="let responsable"> {{ responsable.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> username
          </mat-header-cell>
          <mat-cell *matCellDef="let responsable"> {{ responsable.username }} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="tel">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Tel
          </mat-header-cell>
          <mat-cell *matCellDef="let responsable"> {{ responsable.tel }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Email
          </mat-header-cell>
          <mat-cell *matCellDef="let responsable"> {{ responsable.email }} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="created time">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> created Time
          </mat-header-cell>
          <mat-cell *matCellDef="let responsable"> {{ responsable.createTime | date:'yyyy-MM-dd' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Role
          </mat-header-cell>
          <mat-cell *matCellDef="let responsable"> {{ responsable.role }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let responsable">
            <button mat-icon-button color="primary" (click)="onOpenResponsableModal(responsable, 'edit')">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteResponsable(responsable.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{FilterInput.value}}"</td>
        </tr>

        <!-- Set row header and keep placeholders for cells by adding *matRowDef and *matHeaderRowDef-->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements"></mat-paginator>

    </mat-card-content>

    <mat-card-footer>
      <mat-card-actions>
        <button mat-button (click)="onOpenResponsableModal(null,'add')">add a new Responsable</button>
      </mat-card-actions>
    </mat-card-footer>

  </mat-card>
</div>
