<div class="container-fluid mt-2">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>expressionBesoin List</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
        <input (keyup)="applyFilter($event)" matInput placeholder="Filter" #FilterInput>
      </mat-form-field>
      <!-- Angular Material table component-->
      <mat-table [dataSource]="dataSource" matSort>

        <!-- Define columns with column definitions using ng-container-->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> ID
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin"> {{ expressionBesoin.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Description
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin"> {{ expressionBesoin.description }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="montant approximatif">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> montant
            approximatif
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin"> {{ expressionBesoin.montant_approximatif }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="montant effectif">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> montant effectif
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin"> {{ expressionBesoin?.montant_effectif ?? 'not affected'}}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="demandeDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Demande Date
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin"> {{ expressionBesoin.demandeDate }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="validatDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Validat Date
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin"> {{ expressionBesoin!.validatDate ?? 'not affected' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isValid">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
            Is Valid
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin">
            <mat-icon *ngIf="expressionBesoin.isValid; else invalidIcon" class="material-icons">check_circle</mat-icon>
            <ng-template #invalidIcon>
              <mat-icon class="material-icons">cancel</mat-icon>
            </ng-template>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="membre">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Membre
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin"> {{ expressionBesoin.membre?.name ?? '-'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="responsable">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Responsable
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin"> {{ expressionBesoin.responsable?.name ?? 'not selected' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expressionBesoinType">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Type
          </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin"> {{ expressionBesoin.typeBesoin.type ?? 'not selected' }}
          </mat-cell>
        </ng-container>



        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let expressionBesoin">
            <button mat-icon-button color="primary" (click)="onOpenExpressionBesoinModal(expressionBesoin,'edit')">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDeleteExpressionBesoin(expressionBesoin.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{FilterInput.value}}"</td>
        </tr>

        <!-- Set row header and keep placeholders for cells by adding *matRowDef and *matHeaderRowDef-->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements"></mat-paginator>

      <mat-card-footer>
        <mat-card-actions>
          <button mat-button (click)="onOpenExpressionBesoinModal(null,'add')">add a new ExpressionBesoin</button>
        </mat-card-actions>
      </mat-card-footer>

    </mat-card-content>
  </mat-card>
</div>
